{
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "plugins": ["react-hooks"],
  "rules": {
    "react/react-in-jsx-scope": 0,
    "no-console": "off",
    "react/prop-types": 0,
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "max-lines": ["warn", { "max": 500 }],
    "react/display-name": 0,
    "react/jsx-no-target-blank":0
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "unlocker":true,
    "tf":true,
    "bodyPix":true,
    "Peer":true,
    "PlainDraggable":true,
    "webpushr":true,
    "chrome":true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "serviceworker": true
  },
  "settings": {
    "react": {
      "version": "16.8"
    }
  }
}
