# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
*.map
# production
/build
/crx
/crx*.zip
/ext*.zip

public/crx/static/js/*
# misc
/.idea
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*hot-update.js
asset-manifest.json
indexExt.chunk.js
runtime-indexExt.bundle.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
