html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}
body {
  line-height: 1;
}
menu,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#PORTAL_VERA_WIDGET {
  cursor: pointer;
  z-index: 999;
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 60px;
  height: 50px;
  background-color: #5c46e3;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 5px;
  transition: all 0.5s ease-in;
  transform: translateX(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
}
#PORTAL_VERA_WIDGET:hover {
  transform: translateX(-5px);
}
#PORTAL_VERA_WIDGET.join:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px dotted #5c46e3;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/invite.svg');
  position: absolute;
  right: -50px;
  top: 50%;
  animation: AniFloating 1s infinite alternate;
}
#PORTAL_VERA_WIDGET > .portal_logo {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@keyframes AniFloating {
  from {
    transform: translateY(-50%) scale(0.6);
  }
  to {
    transform: translateY(-50%) scale(1.1);
  }
}
#PORTAL_VERA_INVITE {
  color: #fff;
  z-index: 999;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  min-width: 100px;
  min-height: 200px;
  background: transparent;
  padding: 15px 10px;
  border: 4px solid #5c46e3;
  transition: all 0.4s ease-in-out;
}
#PORTAL_VERA_INVITE:hover {
  background: #5c46e3;
}
#PORTAL_VERA_INVITE:hover .title {
  color: #eee !important;
}
#PORTAL_VERA_INVITE:hover .copyright {
  visibility: visible !important;
}
#PORTAL_VERA_INVITE:hover .cameras .camera {
  border-color: #eee;
}
#PORTAL_VERA_INVITE:hover .cameras .camera .video .opts .opt {
  color: #fff;
  border-color: #eee;
}
#PORTAL_VERA_INVITE:hover .cameras .camera .controls .control {
  color: #fff;
  border-color: #eee;
}
#PORTAL_VERA_INVITE:hover .cameras .camera .btn {
  border: 1px solid #eee;
  color: #eee;
}
#PORTAL_VERA_INVITE[data-status]:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 5px;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #999;
  border-radius: 50%;
}
#PORTAL_VERA_INVITE[data-status='open']:after {
  background-color: #ee7f3d;
}
#PORTAL_VERA_INVITE[data-status='close']:after {
  background-color: #fff;
}
#PORTAL_VERA_INVITE[data-status='disconnected']:after {
  background-color: #ccc;
}
#PORTAL_VERA_INVITE[data-status='connected']:after {
  background-color: #48ba2b;
}
#PORTAL_VERA_INVITE[data-status='error']:after {
  background-color: #d7322d;
}
#PORTAL_VERA_INVITE > .close {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  display: block;
  width: 25px;
  height: 25px;
  opacity: 0.8;
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/tel.svg');
  background-size: cover;
}
#PORTAL_VERA_INVITE > .close:hover {
  opacity: 1;
}
#PORTAL_VERA_INVITE > .title {
  padding: 5px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 800;
  color: #5c46e3;
}
#PORTAL_VERA_INVITE .intro {
  padding-top: 10px;
}
#PORTAL_VERA_INVITE .intro .copyright {
  visibility: hidden;
  display: flex;
  margin-top: 10px;
  font-size: 10px;
  flex-direction: column;
  line-height: 1.5;
  color: #ccc;
}
#PORTAL_VERA_INVITE .cameras {
  overflow: hidden;
}
#PORTAL_VERA_INVITE .cameras .camera {
  border-radius: 8px;
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px dashed #5c46e3;
  background: none;
}
#PORTAL_VERA_INVITE .cameras .camera:not(:last-child) {
  margin-bottom: 10px;
}
#PORTAL_VERA_INVITE .cameras .camera[bg-rm-status='processing'] canvas {
  visibility: hidden;
}
#PORTAL_VERA_INVITE .cameras .camera[bg-rm-status='processing'] .processing {
  display: block;
}
#PORTAL_VERA_INVITE .cameras .camera[bg-rm-status='restore'] canvas {
  visibility: hidden;
}
#PORTAL_VERA_INVITE .cameras .camera[bg-rm-status='ready'] .processing {
  display: none;
}
#PORTAL_VERA_INVITE .cameras .camera[bg-rm-status='ready'] .video video {
  visibility: hidden;
}
#PORTAL_VERA_INVITE .cameras .camera .processing {
  display: none;
  z-index: 10;
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -70%, 0);
  padding: 10px;
  border-radius: 5px;
  background-color: #5c46e3;
  font-size: 22px;
  color: #fff;
}
#PORTAL_VERA_INVITE .cameras .camera .video {
  position: relative;
}
#PORTAL_VERA_INVITE .cameras .camera .video .opts {
  visibility: hidden;
  z-index: 11;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  display: flex;
}
#PORTAL_VERA_INVITE .cameras .camera .video .opts .opt {
  opacity: 0.6;
  border: 1px solid #5c46e3;
  border-radius: 4px;
  background-color: #5c46e3;
  height: 22px !important;
  width: 22px !important;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
#PORTAL_VERA_INVITE .cameras .camera .video .opts .opt:not(:last-child) {
  margin-right: 6px;
}
#PORTAL_VERA_INVITE .cameras .camera .video .opts .opt:hover {
  opacity: 1;
}
#PORTAL_VERA_INVITE .cameras .camera .video .opts .opt.bg {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/bg.rm.svg');
}
#PORTAL_VERA_INVITE .cameras .camera .video .opts .opt.video {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/video.on.svg');
}
#PORTAL_VERA_INVITE .cameras .camera .video .opts .opt.audio {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/audio.on.svg');
}
#PORTAL_VERA_INVITE .cameras .camera .video .opts .opt.pin {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/pin.svg');
}
#PORTAL_VERA_INVITE .cameras .camera .video[bg-remove='true'] .opts .opt.bg {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/bg.rm.off.svg');
}
#PORTAL_VERA_INVITE .cameras .camera .video[invisible='true'] .opts .opt.video {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/video.off.svg');
}
#PORTAL_VERA_INVITE .cameras .camera .video[muted='true'] .opts .opt.audio {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/audio.off.svg');
}
#PORTAL_VERA_INVITE .cameras .camera .video[pin='true'] .opts .opt.pin {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/pin.off.svg');
}
#PORTAL_VERA_INVITE .cameras .camera .video video {
  width: 200px;
  height: 200px;
}
#PORTAL_VERA_INVITE .cameras .camera .video canvas {
  z-index: 9;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
}
#PORTAL_VERA_INVITE .cameras .camera .video canvas.side {
  display: none;
}
#PORTAL_VERA_INVITE .cameras .camera .video .mask {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
}
#PORTAL_VERA_INVITE .cameras .camera .video .mask.user {
  display: none;
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/user.svg');
}
#PORTAL_VERA_INVITE .cameras .camera .video .mask.error {
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 800;
  color: #ec3636;
}
#PORTAL_VERA_INVITE .cameras .camera .video[invisible='true'] .mask.user {
  display: block;
}
#PORTAL_VERA_INVITE .cameras .camera .invite {
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -60%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#PORTAL_VERA_INVITE .cameras .camera .invite .btn {
  white-space: nowrap;
  margin-bottom: 10px;
  border: 1px solid #fff;
  background-color: #5c46e3;
  color: #fff;
  border-radius: 4px;
  padding: 4px 10px;
  font-size: 22px;
  cursor: pointer;
}
#PORTAL_VERA_INVITE .cameras .camera .invite .link {
  padding: 4px;
  border: 1px solid #eee;
  background: rgba(2, 2, 2, 0.4);
  color: #fff;
  font-size: 10px;
  width: 100%;
  height: fit-content;
  white-space: pre-wrap;
  word-break: break-word;
  text-align: left;
  line-height: 1.2;
  max-height: 90px;
  overflow: scroll;
}
#PORTAL_VERA_INVITE .cameras .camera[camera-status='connected'] .btn {
  display: none;
}
#PORTAL_VERA_INVITE .cameras .camera[camera-status='connected'] .controls,
#PORTAL_VERA_INVITE .cameras .camera[camera-status='connected'] .opts {
  visibility: visible;
}
#PORTAL_VERA_INVITE .cameras .camera[camera-status='connected'] .invite {
  display: none;
}
#PORTAL_VERA_INVITE .cameras .camera[camera-status='allow-error'] .btn {
  display: none;
}
#PORTAL_VERA_INVITE .cameras .camera[camera-status='allow-error'] .mask.error {
  display: flex;
}
