html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}
body {
  line-height: 1;
}
menu,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --panel-bg-color: #323639;
  --camera-bg-color: #5f6368;
  --button-bg-color: #000;
  --font-color: #fff;
  --border-radius: 5px;
}
.btn {
  border: none;
  white-space: nowrap;
  background-color: var(--camera-bg-color);
  color: var(--font-color);
  border-radius: var(--border-radius);
  padding: 4px 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}
.btn:active {
  transform: scale(0.9);
}
.drag {
  border-radius: 4px;
  width: 12px;
  height: 30px;
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/icon/drag-vertical.svg');
  background-size: cover;
  background-color: rgba(238, 238, 238, 0.4);
  background-repeat: no-repeat;
  background-position: center;
}
#PORTAL_VERA_WIDGET {
  cursor: pointer;
  z-index: 999;
  position: fixed;
  left: 0;
  bottom: 30px;
  width: 60px;
  height: 50px;
  background-color: var(--panel-bg-color);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 5px 5px 5px 0;
  transform: translateX(-20px);
  display: none;
  align-items: center;
  justify-content: center;
}
#PORTAL_VERA_WIDGET.show {
  display: flex !important;
}
#PORTAL_VERA_WIDGET:hover {
  transform: translateX(-5px);
}
#PORTAL_VERA_WIDGET > .portal_logo {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/icon/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#PORTAL_VERA_WIDGET > .username {
  white-space: nowrap;
  position: absolute;
  bottom: -20px;
  left: 20px;
  border-radius: 5px;
  font-size: 10px;
  border: 1px solid #eee;
  background-color: #333;
  color: #fff;
  padding: 2px 5px;
  line-height: 1.1;
}
#PORTAL_VERA_PANEL {
  color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  gap: 15px;
  position: fixed;
  top: 35px;
  right: 0;
  min-width: 100px;
  min-height: 200px;
  max-height: 100vh;
  overflow: visible;
  padding: 12px;
  border: none;
  border-radius: var(--border-radius);
  transition: all 0.5s ease-in-out;
  transition-property: background, width, height;
  background: var(--panel-bg-color);
}
#PORTAL_VERA_PANEL[layout='min'] {
  width: 260px;
  min-height: 40px;
  padding-top: 8px !important;
  background: var(--panel-bg-color);
}
#PORTAL_VERA_PANEL[layout='min'] .cameras,
#PORTAL_VERA_PANEL[layout='min'] .invite,
#PORTAL_VERA_PANEL[layout='min'] .join {
  display: none;
}
#PORTAL_VERA_PANEL[layout='min'] .close {
  bottom: 0;
}
#PORTAL_VERA_PANEL[layout='min'] .close,
#PORTAL_VERA_PANEL[layout='min'] .topbar,
#PORTAL_VERA_PANEL[layout='min'][data-status]:after {
  visibility: visible;
}
#PORTAL_VERA_PANEL[layout='vt'] {
  flex-direction: column;
}
#PORTAL_VERA_PANEL[layout='vt'] .cameras {
  flex-direction: column;
}
#PORTAL_VERA_PANEL[layout='hz'] {
  flex-direction: row;
}
#PORTAL_VERA_PANEL[layout='one'] {
  gap: 0;
}
#PORTAL_VERA_PANEL[layout='one'] .cameras .camera.local {
  display: none;
}
#PORTAL_VERA_PANEL:hover {
  background: var(--panel-bg-color);
}
#PORTAL_VERA_PANEL:hover[data-status]:after {
  visibility: visible;
}
#PORTAL_VERA_PANEL:hover .close {
  visibility: visible;
}
#PORTAL_VERA_PANEL[data-status]:after {
  content: '';
  position: absolute;
  left: -15px;
  top: 0;
  visibility: hidden;
  width: 10px;
  height: 10px;
  background-color: #999;
  border-radius: 50%;
}
#PORTAL_VERA_PANEL[data-status='open']:after {
  background-color: #ee7f3d;
}
#PORTAL_VERA_PANEL[data-status='close']:after {
  background-color: #fff;
}
#PORTAL_VERA_PANEL[data-status='disconnected']:after {
  background-color: #ccc;
}
#PORTAL_VERA_PANEL[data-status='streaming'] {
  background: transparent;
}
#PORTAL_VERA_PANEL[data-status='connected'],
#PORTAL_VERA_PANEL[data-status='streaming'] {
  padding-top: 40px;
}
#PORTAL_VERA_PANEL[data-status='connected']:hover,
#PORTAL_VERA_PANEL[data-status='streaming']:hover {
  background: var(--panel-bg-color);
}
#PORTAL_VERA_PANEL[data-status='connected']:hover .topbar,
#PORTAL_VERA_PANEL[data-status='streaming']:hover .topbar {
  display: flex;
}
#PORTAL_VERA_PANEL[data-status='connected']:after,
#PORTAL_VERA_PANEL[data-status='streaming']:after {
  background-color: #48ba2b;
}
#PORTAL_VERA_PANEL[data-status='connected'] .topbar,
#PORTAL_VERA_PANEL[data-status='connected']:hover .topbar {
  display: none;
}
#PORTAL_VERA_PANEL[data-status='error']:after {
  background-color: #d7322d;
}
#PORTAL_VERA_PANEL > .close {
  visibility: hidden;
  display: block;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 999;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  opacity: 0.8;
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/icon/tel.svg');
  background-size: cover;
}
#PORTAL_VERA_PANEL > .close:hover {
  opacity: 1;
}
#PORTAL_VERA_PANEL .drag {
  position: absolute;
  bottom: 12px;
  left: -30px;
  width: 20px;
  height: 20px;
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/icon/drag.svg');
}
#PORTAL_VERA_PANEL .topbar {
  display: none;
  position: absolute;
  top: 10px;
  left: 0;
  justify-content: space-between;
  width: -webkit-fill-available;
  padding: 0 12px;
}
#PORTAL_VERA_PANEL .topbar .add {
  cursor: pointer;
  width: 40px;
  height: 18px;
  padding: 2px;
  border-radius: var(--border-radius);
  background-color: var(--button-bg-color);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/icon/invite.svg');
  background-position: center;
  background-size: 14px;
}
#PORTAL_VERA_PANEL .topbar .layout {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: var(--button-bg-color);
  padding: 4px;
  gap: 10px;
}
#PORTAL_VERA_PANEL .topbar .layout .item {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  width: 15px;
  height: 15px;
}
#PORTAL_VERA_PANEL .topbar .layout .item:after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#PORTAL_VERA_PANEL .topbar .layout .item:hover,
#PORTAL_VERA_PANEL .topbar .layout .item.curr {
  background-color: var(--camera-bg-color);
}
#PORTAL_VERA_PANEL .topbar .layout .item.vt {
  flex-direction: column;
}
#PORTAL_VERA_PANEL .topbar .layout .item .mock {
  border-radius: 1px;
  width: 4px;
  background: var(--font-color);
}
#PORTAL_VERA_PANEL .topbar .layout .item .mock.box {
  height: 4px;
}
#PORTAL_VERA_PANEL .topbar .layout .item .mock.line {
  height: 2px;
}
#PORTAL_VERA_PANEL .cameras {
  overflow: hidden;
  display: flex;
  gap: 15px;
}
#PORTAL_VERA_PANEL .cameras .camera {
  overflow: hidden;
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  border: none;
  background: transparent;
}
#PORTAL_VERA_PANEL .cameras .camera:hover .video .username,
#PORTAL_VERA_PANEL .cameras .camera:hover .video .opts {
  visibility: visible;
}
#PORTAL_VERA_PANEL .cameras .camera[bg-rm-status='processing'] canvas {
  display: none;
}
#PORTAL_VERA_PANEL .cameras .camera[bg-rm-status='processing'] .processing {
  display: block;
}
#PORTAL_VERA_PANEL .cameras .camera[bg-rm-status='restore'] canvas {
  display: none;
}
#PORTAL_VERA_PANEL .cameras .camera[bg-rm-status='ready'] .processing {
  display: none;
}
#PORTAL_VERA_PANEL .cameras .camera[bg-rm-status='ready'] .video video {
  visibility: hidden;
}
#PORTAL_VERA_PANEL .cameras .camera .processing {
  z-index: 10;
  display: none;
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -70%, 0);
  padding: 10px;
  border-radius: 5px;
  background-color: var(--camera-bg-color);
  font-size: 22px;
  color: var(--font-color);
}
#PORTAL_VERA_PANEL .cameras .camera .video {
  position: relative;
  display: flex;
}
#PORTAL_VERA_PANEL .cameras .camera .video .username {
  visibility: hidden;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: text;
  padding: 6px 10px;
  border: none;
  font-size: 18px;
  color: var(--font-color);
  border-radius: var(--border-radius);
  background-color: var(--button-bg-color);
}
#PORTAL_VERA_PANEL .cameras .camera .video .opts {
  z-index: 7;
  display: none;
  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 5px;
  display: flex;
  visibility: hidden;
}
#PORTAL_VERA_PANEL .cameras .camera .video .opts .opt {
  padding: 0;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--button-bg-color);
  height: 22px !important;
  width: 22px !important;
  min-width: unset;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
#PORTAL_VERA_PANEL .cameras .camera .video .opts .opt:not(:last-child) {
  margin-right: 6px;
}
#PORTAL_VERA_PANEL .cameras .camera .video .opts .opt.bg {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/icon/bg.rm.off.svg');
}
#PORTAL_VERA_PANEL .cameras .camera .video .opts .opt.video {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/icon/video.off.svg');
}
#PORTAL_VERA_PANEL .cameras .camera .video .opts .opt.audio {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/icon/audio.off.svg');
}
#PORTAL_VERA_PANEL .cameras .camera .video .opts .opt.pin {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/icon/pin.svg');
}
#PORTAL_VERA_PANEL .cameras .camera .video[bg='true'] .opts .opt.bg {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/icon/bg.rm.svg');
}
#PORTAL_VERA_PANEL .cameras .camera .video[video='true'] .opts .opt.video {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/icon/video.on.svg');
}
#PORTAL_VERA_PANEL .cameras .camera .video[audio='true'] .opts .opt.audio {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/icon/audio.on.svg');
}
#PORTAL_VERA_PANEL .cameras .camera .video[pin='true'] .opts .opt.pin {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/icon/pin.off.svg');
}
#PORTAL_VERA_PANEL .cameras .camera .video[waiting='true'] video {
  visibility: hidden;
}
#PORTAL_VERA_PANEL .cameras .camera .video[waiting='true'] .mask.waiting {
  display: flex;
}
#PORTAL_VERA_PANEL .cameras .camera .video video {
  width: 200px;
  height: 200px;
}
#PORTAL_VERA_PANEL .cameras .camera .video canvas {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
}
#PORTAL_VERA_PANEL .cameras .camera .video canvas.side {
  display: none;
}
#PORTAL_VERA_PANEL .cameras .camera .video .mask {
  z-index: 6;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 800;
}
#PORTAL_VERA_PANEL .cameras .camera .video .mask.user {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/icon/user.svg');
}
#PORTAL_VERA_PANEL .cameras .camera .video .mask.error {
  display: none;
  color: #ec3636;
}
#PORTAL_VERA_PANEL .cameras .camera .video .mask.waiting {
  display: none;
  background-color: var(--camera-bg-color);
}
#PORTAL_VERA_PANEL .cameras .camera .video[video='true'] .mask.user {
  display: none;
}
#PORTAL_VERA_PANEL .cameras .camera[camera-status='connected'] .btn {
  display: none;
}
#PORTAL_VERA_PANEL .cameras .camera[camera-status='connected'] .controls,
#PORTAL_VERA_PANEL .cameras .camera[camera-status='connected'] .opts {
  display: flex;
}
#PORTAL_VERA_PANEL .cameras .camera[camera-status='connected'] .invite {
  display: none;
}
#PORTAL_VERA_PANEL .cameras .camera[camera-status='allow-error'] .btn {
  display: none;
}
#PORTAL_VERA_PANEL .cameras .camera[camera-status='allow-error'] .mask.error {
  display: flex;
}
#PORTAL_VERA_PANEL .invite {
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px;
  background-color: var(--camera-bg-color);
  border-radius: var(--border-radius);
}
#PORTAL_VERA_PANEL .invite .link {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background: var(--button-bg-color);
  border-radius: var(--border-radius);
  font-size: 10px;
}
#PORTAL_VERA_PANEL .invite .link .url {
  color: var(--font-color);
  width: 100%;
  height: fit-content;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-word;
  text-align: left;
  line-height: 1.2;
  max-height: 90px;
  overflow: hidden;
}
#PORTAL_VERA_PANEL .invite .users {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: #1f1f1f;
  padding: 6px 4px;
  border-radius: var(--border-radius);
}
#PORTAL_VERA_PANEL .invite .users .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#PORTAL_VERA_PANEL .invite .users .user:not(:last-child) {
  padding-bottom: 4px;
  border-bottom: 1px dashed #333;
}
#PORTAL_VERA_PANEL .invite .users .user .avator {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
#PORTAL_VERA_PANEL .invite .users .user .name {
  font-size: 10px;
}
#PORTAL_VERA_PANEL .join {
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 5px;
  background: transparent;
  border-radius: var(--border-radius);
}
#PORTAL_VERA_PANEL .join .btn {
  font-size: 22px;
}
#PORTAL_VERA_PANEL .join .username {
  margin-bottom: 20px;
  min-width: 120px;
  text-align: center;
  padding: 10px 12px;
  cursor: text;
  font-size: 18px;
  color: var(--font-color);
  border-radius: var(--border-radius);
  background-color: var(--button-bg-color);
}
