:root {
  --vera-widget-bg-color: #000;
  --panel-bg-color: #323639;
  --camera-bg-color: #5f6368;
  --button-bg-color: #000;
  --font-color: #fff;
  --border-radius: 5px;
}
#PORTAL_VERA_WIDGET {
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: auto;
  height: 100vh;
  display: none;
  pointer-events: none;
}
#PORTAL_VERA_WIDGET.show {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
}
#PORTAL_VERA_WIDGET .widget {
  pointer-events: all;
  cursor: pointer;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#PORTAL_VERA_WIDGET .widget .drag {
  margin-left: -25px;
  width: 50px;
  height: 50px;
  background-color: var(--vera-widget-bg-color);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: margin-left 0.5s ease-in-out;
  will-change: margin-left;
}
#PORTAL_VERA_WIDGET .widget .drag > .portal_logo {
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/icon/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#PORTAL_VERA_WIDGET .widget .drag > .handle {
  border-radius: 4px;
  width: 12px;
  height: 30px;
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/icon/drag-vertical.svg');
  background-size: cover;
  background-color: #333;
  background-repeat: no-repeat;
  background-position: center;
}
#PORTAL_VERA_WIDGET .widget .camera {
  will-change: transform;
  filter: drop-shadow(0 2px 4px rgba(34, 36, 38, 0.35));
  margin-left: 8px;
  cursor: pointer;
  visibility: hidden;
  content: '';
  width: 50px;
  height: 50px;
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/icon/video.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#PORTAL_VERA_WIDGET .widget:hover .drag {
  margin-left: 0;
}
#PORTAL_VERA_WIDGET .widget:hover .camera {
  visibility: visible;
  animation: AniSlideOut 0.3s ease-in forwards;
}
#PORTAL_VERA_WIDGET .widget.plain-draggable-moving .camera {
  visibility: visible;
}
#PORTAL_VERA_WIDGET .widget.plain-draggable-moving:hover .camera {
  animation: none;
}
@keyframes AniSlideOut {
  from {
    transform: translateX(-30px);
    opacity: 0.1;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
#VERA_CURSOR {
  z-index: 99999;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  will-change: transform;
}
#VERA_CURSOR .circle {
  border-radius: 50%;
  background-color: deepskyblue;
  position: absolute;
  left: -50%;
  top: -50%;
  width: 40px;
  height: 40px;
  opacity: 0;
}
#VERA_CURSOR.clicked .circle {
  animation: scaleIn 0.5s cubic-bezier(0.36, 0.11, 0.89, 0.32);
}
#VERA_CURSOR .pointer {
  width: 25px;
  height: 25px;
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/icon/cursor.svg');
  background-size: contain;
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.8));
}
#VERA_CURSOR .name {
  margin-top: 5px;
  font-size: 10px;
  color: #333;
  padding: 4px 6px;
  background-color: #f4ea2a;
}
@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
