// camera
.camera {
  border-radius: 8px;
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px dashed #5c46e3;
  background: none;
  &.local {
    border-style: solid;
  }
  //   &.remote{
  // border: 1px dashed #5c46e3;
  //   }
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &[bg-rm-status='processing'] {
    canvas {
      display: none;
    }
    .processing {
      display: block;
    }
  }
  &[bg-rm-status='restore'] {
    canvas {
      display: none;
    }
  }
  &[bg-rm-status='ready'] {
    .processing {
      display: none;
    }
    .video video {
      visibility: hidden;
    }
  }
  .processing {
    z-index: 10;
    display: none;
    text-transform: capitalize;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -70%, 0);
    padding: 10px;
    border-radius: 5px;
    background-color: #5c46e3;
    font-size: 22px;
    color: #fff;
  }
  .video {
    position: relative;

    // .cover_opts {
    //   position: absolute;
    //   right: 5px;
    //   top: 5px;
    //   z-index: 8;
    // }
    .opts {
      z-index: 7;
      display: none;
      position: absolute;
      right: 5px;
      top: 5px;
      padding: 5px;
      display: flex;
      .opt {
        padding: 0;
        opacity: 0.6;
        border: 1px solid #5c46e3;
        border-radius: 4px;
        background-color: #5c46e3;
        height: 22px !important;
        width: 22px !important;
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 6px;
        }
        &:hover {
          opacity: 1;
        }
        &.bg {
          background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/bg.rm.off.svg');
        }
        &.video {
          background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/video.off.svg');
        }
        &.audio {
          background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/audio.off.svg');
        }
        &.pin {
          background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/pin.svg');
        }
      }
    }
    // 打开态
    &[bg='true'] .opts .opt.bg {
      background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/bg.rm.svg');
    }
    &[video='true'] .opts .opt.video {
      background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/video.on.svg');
    }
    &[audio='true'] .opts .opt.audio {
      background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/audio.on.svg');
    }
    &[pin='true'] .opts .opt.pin {
      background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/pin.off.svg');
    }
    video {
      width: 200px;
      height: 200px;
    }
    canvas {
      width: 200px;
      height: 200px;
      position: absolute;
      left: 0;
      top: 0;
      &.side {
        display: none;
      }
    }
    .mask {
      z-index: 6;
      width: 200px;
      height: 200px;
      position: absolute;
      left: 0;
      top: 0;
      background-size: 45%;
      background-repeat: no-repeat;
      background-position: center;
      &.user {
        // display: none;
        background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/user.svg');
      }
      &.error {
        display: none;

        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 800;
        color: #ec3636;
      }
    }
    &[video='true'] .mask.user {
      display: none;
    }
  }

  &[camera-status='connected'] {
    .btn {
      display: none;
    }
    .controls,
    .opts {
      display: flex;
    }
    .invite {
      display: none;
    }
  }
  &[camera-status='allow-error'] {
    .btn {
      display: none;
    }
    .mask.error {
      display: flex;
    }
  }
  // &.remote .video .opts {
  //   .bg,
  //   .video,
  //   .audio {
  //     display: none;
  //   }
  // }
}
