.camera {
  border-radius: 8px;
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px dashed #5c46e3;
  background: none;
}
.camera.host {
  border-style: solid;
}
.camera:not(:last-child) {
  margin-bottom: 10px;
}
.camera[bg-rm-status='processing'] canvas {
  display: none;
}
.camera[bg-rm-status='processing'] .processing {
  display: block;
}
.camera[bg-rm-status='restore'] canvas {
  display: none;
}
.camera[bg-rm-status='ready'] .processing {
  display: none;
}
.camera[bg-rm-status='ready'] .video video {
  visibility: hidden;
}
.camera .processing {
  z-index: 10;
  display: none;
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -70%, 0);
  padding: 10px;
  border-radius: 5px;
  background-color: #5c46e3;
  font-size: 22px;
  color: #fff;
}
.camera .video {
  position: relative;
}
.camera .video .opts {
  z-index: 7;
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  display: flex;
}
.camera .video .opts .opt {
  padding: 0;
  opacity: 0.6;
  border: 1px solid #5c46e3;
  border-radius: 4px;
  background-color: #5c46e3;
  height: 22px !important;
  width: 22px !important;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.camera .video .opts .opt:not(:last-child) {
  margin-right: 6px;
}
.camera .video .opts .opt:hover {
  opacity: 1;
}
.camera .video .opts .opt.bg {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/bg.rm.off.svg');
}
.camera .video .opts .opt.video {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/video.off.svg');
}
.camera .video .opts .opt.audio {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/audio.off.svg');
}
.camera .video .opts .opt.pin {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/pin.svg');
}
.camera .video[bg='true'] .opts .opt.bg {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/bg.rm.svg');
}
.camera .video[video='true'] .opts .opt.video {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/video.on.svg');
}
.camera .video[audio='true'] .opts .opt.audio {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/audio.on.svg');
}
.camera .video[pin='true'] .opts .opt.pin {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/pin.off.svg');
}
.camera .video video {
  width: 200px;
  height: 200px;
}
.camera .video canvas {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
}
.camera .video canvas.side {
  display: none;
}
.camera .video .mask {
  z-index: 6;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
}
.camera .video .mask.user {
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/user.svg');
}
.camera .video .mask.error {
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 800;
  color: #ec3636;
}
.camera .video[video='true'] .mask.user {
  display: none;
}
.camera[camera-status='connected'] .btn {
  display: none;
}
.camera[camera-status='connected'] .controls,
.camera[camera-status='connected'] .opts {
  display: flex;
}
.camera[camera-status='connected'] .invite {
  display: none;
}
.camera[camera-status='allow-error'] .btn {
  display: none;
}
.camera[camera-status='allow-error'] .mask.error {
  display: flex;
}
