#VERA_CURSOR {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  will-change: transform;
}
#VERA_CURSOR .circle {
  border-radius: 50%;
  background-color: deepskyblue;
  position: absolute;
  left: -50%;
  top: -50%;
  width: 40px;
  height: 40px;
  opacity: 0;
}
#VERA_CURSOR.clicked .circle {
  animation: scaleIn 0.5s cubic-bezier(0.36, 0.11, 0.89, 0.32);
}
#VERA_CURSOR .pointer {
  width: 25px;
  height: 25px;
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/icon/cursor.svg');
  background-size: contain;
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.8));
}
#VERA_CURSOR .name {
  margin-top: 5px;
  font-size: 10px;
  color: #333;
  padding: 4px 6px;
  background-color: #f4ea2a;
}
@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
