.invite {
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: var(--camera-bg-color);
  border-radius: var(--border-radius);
  .link {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background: var(--button-bg-color);
    border-radius: var(--border-radius);
    font-size: 10px;
    .url {
      color: var(--font-color);
      width: 100%;
      height: fit-content;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-word;
      text-align: left;
      line-height: 1.2;
      max-height: 90px;
      overflow: hidden;
    }
    .btn {
      border: none;
      white-space: nowrap;
      background-color: var(--camera-bg-color);
      color: var(--font-color);
      border-radius: var(--border-radius);
      padding: 4px 10px;
      cursor: pointer;
    }
  }
}
