// widget
#PORTAL_VERA_WIDGET {
  cursor: pointer;
  z-index: 999;
  position: fixed;
  left: -22px;
  bottom: 30px;
  width: 60px;
  height: 50px;
  background-color: var(--panel-bg-color);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 5px 5px 5px 0;
  display: none;
  align-items: center;
  justify-content: center;
  transition: left 0.2s ease-in-out;
  &.show {
    display: flex !important;
  }
  &:after {
    display: none;
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #333;
    background-color: transparent;
    background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/icon/video.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:hover {
    left: 0;
    &:after {
      display: block;
    }
  }
  > .portal_logo {
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/icon/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  > .username {
    white-space: nowrap;
    position: absolute;
    bottom: -20px;
    left: 20px;
    border-radius: 5px;
    font-size: 10px;
    border: 1px solid #eee;
    background-color: #333;
    color: #fff;
    padding: 2px 5px;
    line-height: 1.1;
  }
  > .drag {
    .drag();
  }
}
