#PORTAL_VERA_WIDGET {
  cursor: pointer;
  z-index: 999;
  position: fixed;
  left: 0;
  bottom: 30px;
  width: 60px;
  height: 50px;
  background-color: var(--panel-bg-color);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 5px 5px 5px 0;
  transform: translateX(-20px);
  display: none;
  align-items: center;
  justify-content: center;
}
#PORTAL_VERA_WIDGET.show {
  display: flex !important;
}
#PORTAL_VERA_WIDGET:hover {
  transform: translateX(-5px);
}
#PORTAL_VERA_WIDGET > .portal_logo {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#PORTAL_VERA_WIDGET > .username {
  white-space: nowrap;
  position: absolute;
  bottom: -20px;
  left: 20px;
  border-radius: 5px;
  font-size: 10px;
  border: 1px solid #eee;
  background-color: #333;
  color: #fff;
  padding: 2px 5px;
  line-height: 1.1;
}
#PORTAL_VERA_WIDGET > .drag {
  border-radius: 4px;
  width: 12px;
  height: 30px;
  background-image: url('chrome-extension://__MSG_@@extension_id__/crx/vera/assets/drag-vertical.svg');
  background-size: cover;
  background-color: rgba(238, 238, 238, 0.4);
  background-repeat: no-repeat;
  background-position: center;
}
